.pagination {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 25px auto;
}

.changePage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    color: white;
}

.changePage svg {
    height: 40px;
    width: 40px;
}
