.search {
	display: flex;
	width: clamp(50%, 700px, 70%);
	margin: 0 auto;
	&Input {
		width: 100%;
		border: 0;
		border-radius: 10px 0 0 10px;
		border-right: 0;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: #8f95d8;
		}
	}
	& button {
		border: 0;
		color: #8f95d8;
		padding: 0;
	}
	&Icon {
		width: 25px;
	}
	&Container {
		width: 100%;
		display: flex;
		align-items: center;
		border-radius: 10px;
		padding: 0 20px;
		border: 1px solid #8f95d8;
	}
}

.errorPopup {
	display: flex;
	width: 155px;

	visibility: hidden;
	opacity: 0;

	position: absolute;
	top: -3px;
	right: 100%;

	user-select: none;
	transition: all 0.3s ease-in-out;

	color: red;
	background: #1e272f;
	padding: 4px;
}

.errorSpan {
	height: auto;
	padding: 0;
	margin-right: 15px;
	position: relative;
	&Icon {
		width: 25px;
		color: red;
	}
	&:hover {
		& .errorPopup {
			visibility: visible;
			opacity: 1;
		}
	}
}
