.card {
	display: flex;
	gap: 25px;
	max-width: 80%;
	margin: 40px auto;
	background: rgba(76, 76, 76, 0.12);
	box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 20px;
	& .title {
		font-size: 24px;
		max-width: 60%;
		text-align: center;
		margin-bottom: 0;
	}
	& .subtitle {
		font-size: 16px;
		color: #b1b1b1;
	}
	& .statusBlock {
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
	}
	& .img {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	& .statusBlock {
		& p {
			margin: 0 5px;
		}
		&.done {
			color: rgb(77, 223, 77);
		}
		&.airing {
			color: rgb(216, 233, 63);
		}
		&.upcoming {
			color: rgb(219, 73, 54);
		}
	}
}
.description {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
}
.statusIcon {
	height: 20px;
	width: 20px;
}
.infoContainer {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.info {
	width: 100%;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
	justify-content: space-around;
	& span {
		color: white;
		width: 30%;
	}
}
.alternativeTitles p span {
	font-weight: bold;
}
.synopsis h3 {
	font-size: 20px;
}

@media (max-width: 1256px) {
	.info span {
		width: 50%;
	}
}
@media (max-width: 930px) {
	.info span {
		width: 100%;
	}
}
